h1 {
color:red;
font-size: ;
font-weight: 
}
h2 {
    color: red;
    font-size: ;
    font-weight: 

}
h3 {
    color:
    font-size: ;
    font-weight: 
}
p {
font-size: ;
font-weight: ;
}


hr {
    color: red;
    width: 70%;
    size: 10px;
    text-align: right;
}
