* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  min-height: 100%;
}

body {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    min-height: 100vh;
}

h1 {
    font-family: var(--title-font);
}  

nav {
  border-bottom: 5px solid var(--accent-color);
}

#logo__header {
  font-family: "Tungsten";
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  border: 2px solid rgb(255, 0, 0);
  padding: 2px 5px 0px 9px;
  display : inline-block;
}
.timeline {
  padding: 50px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 20px 20px;
  gap: 20px;
}
.card {
  border: solid 1px red;
  border-radius: 8px;
  height:500px;
  width: 250px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 0 0 10px 0;
}
.artist-img {
  width: 100%;
  
}
.artist-name {
  color: #1D1D1D;
}
.artist-time {
  color: #1D1D1D;
}
.artist-description {
  color: #1D1D1D;
}


  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (min-width: 601px) {
    .card {
      height:600px;
      width: 450px;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 600px) {
    .card {
      height:500px;
      width: 350px;
    }
  }

  @media screen and (max-width: 400px) {
    .card {
      height:500px;
      width: 250px;
    }
  }
  

/* FOOTER */

.footer__container {
  background-color: #1D1D1D;
  padding: 3rem 3rem;
}

#footer__logo {
  display: flex;
  justify-content: center;
}

#footer__logotext {
  font-family: "Tungsten";
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  border: 2px solid rgb(255, 0, 0);
  padding: 2px 5px 0px 9px;
  display : inline-block;
  color: white;
}

#footer__adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#footer__adress, .p {
  color: #757575;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.6rem;
}

#footer__social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

footer #footer__social li{
  list-style: none;
  font-size: 1.8rem;
  color: #757575;
}

footer #footer__social li:hover {
  list-style: none;
  font-size: 1.8rem;
  color: #ff0000;
}